.knowBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  .knowBoxLeft {
    width: 10%;
  }
  .konwBoxMid {
    background: var(--bg-code);
    color: var(--main-text-color);
    border: 2px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    flex: 3;
    background: var(--bg-second);
    color: var(--main-text-color);
    min-height: 600px;
    .knowMain {
      background: var(--bg-second);
      color: var(--main-text-color);
      margin-top: 15px;
      display: flex;
      width: 100%;
      height: 120px;
      padding: 10px 15px;
      border-bottom: 1px solid #ccc;
      .knowMainLeft {
        flex: 1;
        .knowMain_Icon {
          width: 100%;
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          p {
            margin: 0 5px;
            span {
              margin-left: 5px;
              font-size: 16px;
            }
          }
        }
      }
      .knowMainRight {
        width: 220px;
        img {
          width: 100%;
          height: 90%;
        }
      }
    }
  }

  .BboxRight {
    flex: 1;
    margin: 0 120px 0 20px;
  }
}

li {
  list-style: none;
}

.Bbox {
  width: 100%;
  display: flex;
  margin-top: 20px;
  background-color: #ececec;
  justify-content: space-around;
}

.Bbox-Left {
  flex: 5;
  margin-left: 140px;
}
.Bbox-Left .container {
  width: 100%;
}
.Bbox-Right {
  flex: 2;
  margin-left: 30px;
  margin-right: 170px;
}
.Bbox-R-top {
  width: 100%;
  background-color: #fff;
}

.Bbox-R-bottom {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
}

.Bbox-Right h4 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.Bbox-R-top ul li {
  width: 100%;
  display: flex;
  margin-left: 10px;
  line-height: 33px;
}

.Bbox-R-top ul li:hover {
  color: #ff0064 !important;
}

.Bbox-R-top ul li span:hover {
  color: #ff0064;
}

.Bbox-R-top ul li p:hover {
  color: #ff0064 !important;
}

.Bbox-R-top ul li span {
  margin-left: 20px;
}

.Bbox-Right {
  font-weight: 500 !important;
}

.Bbox-R-bottom ul li:hover {
  color: #ff0064 !important;
}

.Bbox-R-bottom ul li {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 33px;
  color: rgb(133, 131, 131);
}

.Bbox-R-bottom ul li p {
  color: rgb(133, 131, 131);
}

.Bbox-R-bottom ul li p:hover {
  color: #ff0064 !important;
}

.Bbox-R-bottom ul li span {
  margin-right: 20px;
}
