.Bbox {
  width: 100%;
  display: flex;
  margin-top: 20px;
  background: var(--bg-body);
  justify-content: space-around;
  background: var(--bg-body);
}

.DevBox {
  width: 100%;
}
p {
  color: var(--main-text-color);
}
.rightBox {
  background: var(--bg-body);
  color: var(--main-text-color);
  position: sticky;
  top: 10px;
}
.DevLeft {
  flex: 5;
}

.container {
  width: 100%;
}

.Bbox-Left {
  width: 800px;
  margin-left: 120px;
}

.Bbox-Left .container {
  width: 100%;
}

.Bbox-Right {
  width: 300px;
  margin-left: 30px;
  margin-right: 170px;
}

.Bbox-R-top {
  width: 100%;
  background-color: #fff;
  background: var(--bg-code);
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
}

.Bbox-R-bottom {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  background: var(--bg-code);
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
}

.Bbox-Right h4 {
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  color: var(--main-text-color);
}
span {
  color: var(--main-text-color);
}
p {
  color: var(--main-text-color);
}
.Bbox-R-top ul {
  position: relative;
  right: 0;
}

.Bbox-R-top ul li {
  width: 100%;
  display: flex;
  margin-left: 10px;
  line-height: 33px;
  color: var(--main-text-color);
}

.Bbox-R-top ul li:hover {
  color: #ff0064 !important;
}

.Bbox-R-top ul li span:hover {
  color: #ff0064;
}

.Bbox-R-top ul li p:hover {
  color: #ff0064 !important;
}

.Bbox-R-top ul li span {
  margin-left: 20px;
}

.Bbox-Right {
  font-weight: 500 !important;
}

.Bbox-R-bottom ul li:hover {
  color: #ff0064 !important;
}

.Bbox-R-bottom ul li {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 33px;
}

.Bbox-R-bottom ul li p {
  color: var(--main-text-color);
}

.Bbox-R-bottom ul li p:hover {
  color: #ff0064 !important;
}

.Bbox-R-bottom ul li span {
  margin-right: 20px;
}
