.ConeText {
  width: 100%;
  height: 100%;
}
.ConeTextWrapper {
  width: 100%;
  height: 1000px;
  flex-direction: column;
  background: var(--bg-second);
  border-bottom: 2px solid var(--border-color);
}
.ConeTextWrappers {
  background: var(--bg-second);
}
h2 {
  padding-bottom: 12px;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--main-text-color);
}
h3 {
  font-size: 22px;
  padding-bottom: 0;
  color: var(--main-text-color);
}

.Connect {
  width: 60%;
  height: 100%;
  // display: flex; padding-left: 100px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 550px;
    border-radius: var(--border-radius);
  }
}
ul {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 15px;
}
p {
  font-size: 18px;
}
