body {
  background: var(--bg-code);
  color: var(--main-text-color);
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #e5e6eb;
  text-align: center;
  background: var(--bg-second);
  color: var(--main-text-color);
  margin: 0 auto;
}
.GetColor {
  background: var(--bg-second);
  color: var(--main-text-color);
  padding-left: 15px;
}
main {
  background: var(--bg-code);
  color: var(--main-text-color);
}
p {
  color: var(--main-text-color);
}
.container h2 {
  padding-top: 25px;
  margin-bottom: 11px;
  color: var(--main-text-color);
}
.bg_color {
  width: 100%;
  height: auto;
  color: var(--main-text-color);
}
.comment {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.js_comment_id {
  width: 50%;
  background: var(--bg-second);
  border: 1px solid #d9d9d9;
  margin: 0 auto;
  box-shadow: ccc 3px 3px 3px;
  padding: 17px;
}
.LeftWrapper {
  width: 7%;
  float: left;
}
.InputPut {
  float: left;
  width: 93%;
  height: 98px;
  min-height: 98px;
  max-height: 186px;
  overflow-y: hidden;
  resize: none;
  color: #000;
  border: 1px solid #d9d9d9;
  outline: 0;
}
.InputPuts {
  float: left;
  width: 93%;
  height: 98px;
  min-height: 98px;
  max-height: 186px;
  overflow-y: hidden;
  resize: none;
  color: #000;
  border: 1px solid #d9d9d9;
  outline: 0;
  float: right;
}
.Comment_box {
  width: 100%;
  height: 167px;
}
.expression {
  margin-top: 80px;
  margin-left: 63px;
}
.Button {
  margin-top: -15px;
  color: var(--bg_color);
  width: 70px;
  height: 35px;
  border: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  text-align: center;
  float: right;
  color: #000;
  margin-left: 10px;
  cursor: pointer;
}
.essayistWrapper {
  width: 100%;
  height: 100%;
}
//評論信息
.essayist {
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  border-top: 1px solid #d9d9d9;
}
.essayist_name {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.essayist_me {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 3px;
}
main {
  margin-top: 10px;
}
.Tiem > p {
  color: #a6a6a6;
  margin-top: 10px;
  margin-left: 15px;
}
.message {
  margin-left: 10px;
  margin-right: 10px;
}
.response {
  width: 100%;
  height: 164px;
  display: none;
}
.responses {
  width: 100%;
  height: 193px;
  display: block;
  margin-top: 20px;
}
.paging {
  width: 100%;
  height: 100%;
  text-align: center;
}
.Study {
  width: 100%;
  // height:50px;
  text-align: center;
  // line-height:60px;
  margin-top: 10px;
  color: var(--main-text-color);
}
.public {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
