article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
th,
ul {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body,
#root,
.App,
#Home {
  width: 100%;
  height: auto;
  // overflow: auto;
  background: var(--bg-second);
  color: var(--main-text-color);
}
a.active {
  color: #ff0064;
  height: 100%;
}

a.active {
  color: #ff0064 !important;
}
h2 {
  // color: var(--bg);
  padding-bottom: 12px;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--main-text-color);
}
h3 {
  font-size: 22px;
  padding-bottom: 0;
  // color: var(--bg);
  color: var(--main-text-color);
}
