@import "~antd/lib/style/themes/default.less";
@primary-color: #999;
@bg-color: #fff;
@text-color: #000;
@bg-color: #fff; // 背景颜色
@primary-color: #1890ff; // 全局主色
@link-color: #1890ff; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

.display-flex-column-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

.display-flex-row-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

// 多行文本....
.text-lines(@lineNum) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box(@boxstyle: border-box) {
  box-sizing: @boxstyle;
}

.bor-box {
  .border-box;
}

.z-index(@index: 1) {
  z-index: @index;
}

body.dark {
  --sun-color: #e684af;
  --bg: #282c35;
  --bg-second: #363c48;
  --rgb-bg-second: (54, 60, 72);
  --bg-body: var(--bg);
  --bg-footer: var(--bg);
  --bg-code: #282c35;
  --blockquote-color: #fff;
  --main-text-color: hsla(0, 0, 100%, 0.85);
  --second-text-color: hsla(0, 0, 100%, 0.65);
  --disable-text-color: hsla(0, 0, 100%, 0.45);
  --border-color: hsla(0, 0, 100%, 0.2);
  --box-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color);
}

body {
  --primary-color: #ff0064;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 2px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #fff;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #f0f2f7;
  --box-shadow: 0 1px 3px rgb(18, 18, 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-disable-bg: #f5f5f5;
}
