.konwBoxMid {
  width: 800px;
  background: var(--bg-body);

  .konwBoxMid_head {
    width: 100%;
  }

  .leftBtm {
    margin-top: 20px;
    background: var(--bg-second);

    > .konwBoxMid_router {
      padding: 20px;
      border-bottom: 1px solid var(--border-color);

      > a {
        margin-right: 15px;

        &:hover {
          color: #ff0064;
        }
      }
    }

    > .konwBoxMid_view {
      padding: 0 20px;
    }
  }
}
