.fileDetail {
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  display: flex;
  overflow: auto;
}
.file-left {
  flex: 1.5;
}
.file-center {
  width: 850px;
  height: 700px;
  overflow: auto;
  background-color: var(--bg-code);
  margin-top: 20px;
}
.file-c-main {
  margin: 30px;
  min-height: 600px;
}

.file-c-main h1,
.file-c-main h2,
.file-c-main h3,
.file-c-main p {
  color: var(--second-text-color);
}
.file-right {
  flex: 3.5;
  position: relative;
  height: 700px;
}

._3DPqg1sEeVKyZvQGiGR7MK {
  width: 50px;
  height: 200px;
  position: fixed;
  top: 30%;
  left: 10%;
  font: size 25px;
}
svg {
  font-size: 27px;
  color: #ccc;
}
svg.active {
  color: #ff0064;
}
svg:hover {
  color: #ff0064;
}
.opW4K-r7eKwtlgiMzfCHm {
  margin-top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.file-c-t {
  width: 100%;
  text-align: center;
}
.file-c-t h1 {
  font-size: 50px;
  color: var(--main-text-color);
}

.file-c-t img {
  width: 95%;
  margin-top: 10px;
}
.file-c-t em {
  font-size: 16px;
}
.file-r-t {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 350px;

  background-color: var(--bg-code);
}
.file-r-t h4 {
  font-size: 14px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: var(--main-text-color);
}
.file-r-t ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  color: var(--main-text-color);
  line-height: 30px;
}
.file-r-t ul li p {
  color: var(--main-text-color);
}
.file-r-t ul li:hover {
  color: #ff0064;
}
.file-r-t ul li:hover p {
  color: #ff0064;
}
.file-r-t ul li:hover span {
  color: #ff0064;
}
.file-r-t ul li span {
  margin-right: 20px;
}
.file-r-b {
  position: absolute;
  top: 380px;
  left: 20px;
  width: 350px;
  height: 300px;
}
.file-r-b h3 {
  text-align: center;
  width: 300px;
  height: 30px;
  font-size: 16px;
  background-color: #fff;
  color: #ff0064;
}
.file-r-b h4 {
  font-weight: bold;
  padding-left: 25px;
  color: var(--main-text-color);
}
.file-r-b a {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
}
.file-r-b a:hover {
  color: #ff0064;
  font-weight: 600;
  background-color: #fff;
}
.file-r-b-h {
  width: 100%;
  text-align: center;
}
.file-r-b-h img {
  width: 400px;
}
.file-r-b-m h2 {
  margin-top: 20px;
  font-weight: 600;
}
.file-r-b-m dl {
  width: 100%;
  margin-bottom: 50px;
}
.file-r-b-m dl dt {
  float: left;
  margin-right: 20px;
}
.file-r-b-m dl dd {
  line-height: 70px;
}
.file-r-b-m dl dd p span {
  color: #ff0064;
}
.ant-anchor-wrapper {
  background: var(--bg-code);
}
.ant-anchor h3 {
  background: var(--bg-code);
}
.ant-form-item-control-input-content textarea {
  background: var(--bg-code);
}
.bgColor {
  color: #ff0064;
}
::-webkit-scrollbar {
  display: none;
}
