#ArticleTop {
  width: 800px;
  height: 120px;
  background: var(--bg-second);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  > #TopCenter {
    > p {
      color: var(--main-text-color);

      &:nth-child(1) {
        margin-top: 20px;
        margin-bottom: 0;

        > span {
          margin: 0 5px 0 0;
          font-size: 22px;
          color: #ff0064;
        }
      }

      &:nth-child(2) {
        margin-top: 0;

        > span {
          margin: 0 5px;
          font-size: 22px;
          color: #ff0064;
        }
      }
    }
  }
}
