.Boards {
  width: 100%;
  height: 100%;
}
p {
  color: var(--main-text-color);
}
.container h2 {
  padding-top: 25px;
  margin-bottom: 11px;
  color: var(--main-text-color);
}
.bg_color {
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
}
