.knowMain {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  &:hover {
    .knowMainLeft {
      h3 {
        color: #ff0064;
      }
    }
  }

  .knowMainLeft {
    flex: 1;

    > h3 {
      font-weight: bold;
      color: var(--main-text-color);

      > span {
        color: #999;
        margin: 0 10px;
        font-size: 10px;
        font-weight: normal;
      }
    }

    .knowMain_Icon {
      display: flex;
      flex-direction: row;
      p {
        margin: 0 5px;
        span {
          margin-left: 5px;
        }
      }
    }
  }

  .knowMainRight {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
