.Swiper {
  width: 100%;
  height: 360px;
  padding: 10px;
  background: var(--bg-second);
  border-radius: 3px;

  .SwiperText {
    width: 100%;
    height: 100%;

    .Swiper_item {
      position: relative;

      .SwiperMask {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        z-index: 99999999;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.226);

        > p {
          color: #fff;
          display: flex;
          text-align: center;
          flex-direction: column;

          > b {
            font-size: 24px;
            color: #fff;
          }

          > span {
            font-size: 18px;
          }
        }
      }
    }
  }
}
