.Bbox {
  width: 100%;
  display: flex;
  margin-top: 20px;
  background: var(--bg-body);
  justify-content: space-around;
}
.Bbox-Left {
  flex: 5;
}
.Bbox-Left .container {
  width: 100%;
}
.Bbox-Right {
  flex: 2;
  margin-left: 30px;
  margin-right: 170px;
}
.Bbox-R-top {
  width: 100%;
  background: var(--bg-code);
}
.Bbox-R-bottom {
  width: 100%;
  margin-top: 30px;
  background: var(--bg-code);
}
.Bbox-Right h4 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  color: var(--main-text-color);
}
.Bbox-R-top ul li {
  width: 100%;
  display: flex;
  margin-left: 10px;
  line-height: 33px;
  color: var(--main-text-color);
}
.Bbox-R-top ul li p {
  color: var(--main-text-color);
}
.Bbox-R-top ul li:hover {
  color: #ff0064 !important;
}
.Bbox-R-top ul li span:hover {
  color: #ff0064;
}
.Bbox-R-top ul li p:hover {
  color: #ff0064 !important;
}
.Bbox-R-top ul li span {
  margin-left: 20px;
}
.Bbox-Right {
  font-weight: 500 !important;
}
.Bbox-R-bottom ul li:hover {
  color: #ff0064 !important;
}
.Bbox-R-bottom ul li {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 30px;
  color: var(--second-text-color);
}
.Bbox-R-bottom ul li p {
  color: var(--second-text-color);
}
.Bbox-R-bottom ul li p:hover {
  color: #ff0064 !important;
}
.Bbox-R-bottom ul li span {
  margin-right: 20px;
}
