.Login_Mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  > .Login_Text {
    width: 370px;
    height: 300px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;

    > .LoginText_head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-color);

      > span {
        font-size: 16px;
        cursor: pointer;
        color: #000;
      }
    }

    > .LoginText_body {
      flex: 1;
      display: flex;
      flex-direction: column;

      > input {
        margin: 15px 0;
        outline: none;
        border: 1px solid #ccc;
        height: 30px;
        text-indent: 1em;

        &:focus {
          box-shadow: 0px 0px 2px 0px red;
        }

        &:hover,
        &:focus {
          outline: none;
          border: 1px solid red;
        }
      }

      > button {
        height: 30px;
        margin-top: 15px;
        background: red;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: rgb(240, 88, 88);
        }

        &:active {
          box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.164);
        }
      }
    }
  }
}
