#Search {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99999;

  #Search_mask {
    width: 768px;
    padding: 16px;
    background: #fff;
    border-radius: 3px;
    margin-top: 75px;
    background: var(--bg);

    #MaskTop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h2 {
        font-weight: bold;
        color: var(--main-text-color);
      }

      #CloseBtn {
        cursor: pointer;
        color: var(--main-text-color);

        svg {
          width: 25px;
          height: 25px;
        }

        display: flex;
        flex-direction: column;
      }
    }

    #MaskInput {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      > input {
        width: 100%;
        height: 35px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #ccc;
        border-right: none;
        text-indent: 1em;

        &:focus {
          box-shadow: 0px 0px 2px 0px red;
        }

        &:hover,
        &:focus {
          outline: none;
          border: 1px solid red;
        }
      }

      > button {
        width: 40px;
        height: 35px;
        background: none;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #fff;
        color: #000;

        &:hover {
          border: 1px solid red;
        }

        &:active {
          box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.164);
        }
      }
    }

    #MaskText {
      margin-top: 30px;

      p {
        text-align: center;
        color: var(--main-text-color);
      }
    }
  }
}
