.Header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-second);
  color: var(--main-text-color);

  #Header_logo {
    img {
      height: 36px;
    }
  }

  #Header_btn {
    .HeaderBtn_left {
      position: relative;

      &:hover {
        .HeaderBtn_leftMask {
          display: block;

          p {
            &:hover {
              background: var(--bg-body);
            }
          }
        }
      }

      .HeaderBtn_leftMask {
        position: absolute;
        top: 30px;
        left: 0px;
        height: 70px;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.144);
        background: #fff;
        z-index: 99999;
        border-radius: 3px;
        box-sizing: border-box;

        > p {
          color: #000;
          width: 70px;
          text-align: center;
          line-height: 35px;
          padding: 0 10px;
        }
      }
    }
  }
}

#Header_router {
  a {
    text-decoration: none;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-text-color);

    &:hover {
      color: #ff0064;
    }
  }
}

#Header_btn {
  svg {
    &:hover {
      color: #ff0064;
    }
  }

  .loginBtn {
    button {
      width: 60px;
      height: 30px;
      cursor: pointer;
      background: #fff;
      border: 1px solid #ccc;
      color: #000;

      &:hover {
        color: #ff0064;
        border-color: #ff0064;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .Header {
    padding-left: 125px;

    #Header_router {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin-left: 100px;

      a {
        text-decoration: none;
        color: var(--main-text-color);
        font-size: 16px;

        &:hover {
          color: #ff0064;
        }
      }
    }

    #Header_btn {
      margin-left: 325px;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      div {
        cursor: pointer;
      }
    }

    #Header_icon {
      display: none;
    }
  }

  #Header_btn {
    margin-left: 300px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
      cursor: pointer;
    }
  }

  #Header_icon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .Header {
    padding-left: 50px;

    #Header_router {
      width: 300px;
      display: flex;
      justify-content: space-between;
      margin-left: 50px;
    }

    #Header_btn {
      margin-left: 200px;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      div {
        cursor: pointer;
      }
    }

    #Header_icon {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .Header {
    padding-left: 50px;
    justify-content: space-between;

    #Header_router {
      display: none;
    }

    #Header_btn {
      display: none;
    }

    #Header_icon {
      display: block;
      margin-right: 30px;
    }
  }
}
